{% extends "base.html" %}
{% block content %}
<main class="">
	<div class="px-4 py-5 mt-5 text-center bg-white">
		<h1 class="display-5 fw-bold">Coose your drink</h1>
	</div>
	<div class="container">
		<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for drink in cocktails.drinks %}
			<div class="col">
				<div class="card shadow-sm">
					<a href="{{ url_for('cocktail_by_id' ,iid=drink.idDrink) }}">
						<img src="{{ drink.strDrinkThumb }}" class="card-img-top">
					</a>
					<div class="card-body">
						<h3 class="">{{ drink.strDrink }}</h3>
						<div class="d-flex justify-content-between align-items-center">
							<div class="btn-group">
                                <a href="{{ url_for('cocktail_by_id' ,iid=drink.idDrink) }}" class="btn btn-sm btn-outline-secondary">View</a>
							</div> <small class="text-muted">{{ drink.strAlcoholic }}</small>
						</div>
					</div>
				</div>
			</div>
            {% endfor %}
        </div>
	</div>
</main>{% endblock %}